.spline3D-container {
    /* filter: drop-shadow(0 0 10px rgb(37, 201, 255)); */
    /* box-shadow: 0 0 10px black inset; */
    border-bottom-right-radius: 505px;
    /* border-top-right-radius: 76%; */

}

.spline3D-container {
    /* width: 100%; */
    /* height: 100%; */
    position: relative;
    overflow: hidden;
    z-index: 10;
    /* border: 1px solid white; */

}

/* Default: Large Screens */
.spline3D-container {
    /* height: 80vh; */
    /* Adjust to take up 80% of the viewport height */
}

/* Medium screens (tablets and small laptops) */
@media (max-width: 768px) {
    .spline3D-container {
        height: 70vh;
        /* Adjust for smaller screens */
    }
}

/* Small screens (mobiles) */
@media (max-width: 480px) {
    .spline3D-container {
        height: 60vh;
        /* Further adjust for mobile devices */
    }
}

/* Extra Small screens (very small mobile devices) */
@media (max-width: 320px) {
    .spline3D-container {
        height: 50vh;
        /* Further scale down for very small screens */
    }
}